$body-bg: #141414;
$primary: rgb(229, 9, 20);
$border-radius: 4px;
$grid-gutter-width: 6px;

$dropdown-bg: rgba(0, 0, 0, 0.75);
$dropdown-link-color: white;
$dropdown-link-hover-bg: transparent;
$dropdown-padding-y: 0.75rem;
$dropdown-divider-bg: rgba(255, 255, 255, 0.25);
$dropdown-font-size: 14px;

$input-color: white;
$input-placeholder-color: rgba(255, 255, 255, 0.25);
$input-focus-border-color: white;
$input-focus-box-shadow: 0 0 5px white;
