.floating-label {
  width: 100%;
  position: absolute;
  top: 25%;
  left: 20px;
  font-size: 18px;
  color: #8c8c8c;

  transition:
    font 0.1s ease,
    top 0.1s ease,
    transform 0.1s ease;
  transition:
    font 0.1s ease,
    top 0.1s ease,
    transform 0.1s ease,
    -webkit-transform 0.1s ease,
    -moz-transform 0.1s ease,
    -o-transform 0.1s ease;

  @media screen and (max-width: 476px) {
    font-size: 1rem;
  }
}
