.form-element {
  $padding-laterale: 20px;

  position: relative;

  &:not(:last-of-type) {
    margin-bottom: $spacer * 1.5;
  }

  input,
  select {
    width: 100%;
    padding: 16px $padding-laterale 0;
    height: 50px;
    font-size: 1rem;
    border: none;
    border-radius: $border-radius;
    outline: none;
    background-color: #444;
    color: #ffffff;

    &:focus ~ .floating-label,
    &:valid ~ .floating-label,
    &[type="email"]:invalid:not(:placeholder-shown) ~ .floating-label {
      font-size: 11px;
      top: 5px;
    }
  }

  label {
    color: #737373;
    max-width: calc(100% - $padding-laterale * 2);
  }

  &__error {
    color: $primary;
    font-weight: 700;
    padding-top: $spacer;
    padding-left: $spacer;
  }

  &--light {
    input,
    select {
      color: #444;
      background-color: white;
      border: 1px solid #444;
    }
  }

  &--transparent {
    input,
    select {
      opacity: 0.75;
      border: #737373;
      border: 1px solid #737373;
    }
  }

  &--error {
    input {
      border: 2px solid $primary;
    }
  }
}
