.header-action-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;

  @media screen and (max-width: 576px) {
    column-gap: 1rem;
  }

  &__link {
    font-size: 0.875rem;
    text-decoration: none;
    color: rgb(208, 208, 208);

    @media screen and (max-width: 476px) {
      font-size: 0.8rem;
    }
  }
}
