.section {
  margin-bottom: 1rem;

  &__title {
    margin-bottom: 0.75rem;

    span:first-child {
      color: #e5e5e5;
      font-size: clamp(16px, 4vw, 22px);
      font-weight: 500;
      cursor: pointer;
    }
  }
}
